<div class="container" id="list">
    <h4 class="text-center">
        {% trans %}
        categories_list.title
        {% endtrans %}</h4>
    <div class="row">
        <div class="col-7">
            <button class="btn btn-primary" data-toggle="modal" data-mode="0" data-target="#formModal">
                <i class="fa fa-plus"></i>
                {% trans %}
                categories.add
                {% endtrans %}
            </button>
        </div>
        <div class="col-5">
            <div class="filter">
                <input name="filter" type="text" id="filerInput" placeholder="Nom...">
                <button type="button" onclick="filter()">
                    {% trans %}
                    action.filter
                    {% endtrans %}</button>
            </div>
        </div>
    </div>
</br>

<table id="myTable" class="table table-bordered table-hover">
    <thead class="thead-light">
        <tr>

            <th>{{ knp_pagination_sortable(categories, 'Titre', 'category.title') }}</th>
            <th colspan="2">
                {% trans %}
                title.actions
                {% endtrans %}</th>
        </tr>
    </thead>

    <tbody id="list">

        {% for category in categories %}
            <tr>
                <td>{{ category.title }}</td>
                <td>
                    <button class="btn btn-secondary" data-toggle="modal" data-mode="{{category.id}}" data-target="#formModal">
                        {% trans %}
                        action.update
                        {% endtrans %}
                    </button>
                </td>
                <td>
                    <a href="{{path('category_delete',{'id':category.id})}}" class="btn btn-danger" onclick="return confirm('Confimez-vous la suppression ?')">
                        {% trans %}
                        action.delete
                        {% endtrans %}</a>
                </td>
            </tr>

        {% endfor %}

    </tbody>
</table>

<div class="row">
    <div class="col-4"></div>
    <div class="col-8">
        <div class="navigation">
            {{ knp_pagination_render(categories) }}
        </div>
    </div>

</div>
</div>